* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

   
  @media screen and (max-width: 1444px){
   #sec3 .texto-experiencia{
       font-size: 18px;
   }
  }

  /* @media screen and (max-height: 1366px){
    #sec3 .texto-experiencia{
        height: 35%;
    }
} */

  @media screen and (max-width: 1244px){


    .caja-galeria{
      width: 400px;
      height: 250px;
    }

   .flex5 .contenido-modal5 img{
       width: 350px;
        height: 200px;

    }

    .flex5 .contenido-modal5 p{
        font-size: 16px;
     }

     .flex5 .modal-body5 img{
        position: absolute;
        margin-top: -60px;
        width: 25px;
     }

     .flex2 .contenido-modal2 img{
        margin-top: 80px;
     }

     .flex3 .contenido-modal3 img{
        margin-top: 80px;
     }

     .flex4 .contenido-modal4 img{
        margin-top: 90px;
     }

    .modal .img{
        margin-top: 50px;
        width: 80px;
        height: 80px;
    }

    .modal2 .img{
     width: 80px;
     height: 80px;
 }

 .modal-body2 p{
     font-size: 14px;
   } 

 .modal3 .img{
     margin-top: 100px;
     width: 80px;
     height: 80px;
 }

 .modal-body3 p{
   font-size: 12px;
 } 
      
    .modal4 .img{
     width: 80px;
     height: 80px;
 }

 .modal-body4 p{
     font-size: 14px;
   } 
   
   #sec3 .texto-experiencia{
       font-size: 17px;
   }
   
  }


  @media screen and (max-width: 1150px){

    .flex5 .contenido-modal5 p{
        font-size: 14px;
     }
  }

  @media screen and (max-width: 1190px){
      .modal3 .img{
          margin-top: 50px;
      }
  }

  @media screen and (max-width: 1040px){
  /* AQUI */
    #sec3 .texto-experiencia{
        height: 65%;
        margin-top: 60px;
    }

    .flex5 .contenido-modal5 p{
        font-size: 13px;
     }

    .modal-body3 p{
        margin-top: 50px;
        font-size: 11px;
      } 

      .modal .img{
        margin-top: 50px;
    }  

      .modal2 .img{
        margin-top: 50px;
    }  

    .modal3 .img{
        margin-top: 50px;
    } 
      
         .modal4 .img{
        margin-top: 50px;
    } 
  }




  @media screen and (max-width: 967px){
    .flex5 .contenido-modal5 .img{
        width: 330px;
         height: 180px;
     }

     .flex5 .modal-body5 img{
         margin-left: -10px;
     }
  }

  @media screen and (max-width: 895px){

   #sec3 .texto{
       padding-top: 25px;
   }

    #sec3 img{
      width: 700px;
      height: 600px;
    }
  
    .seccion2 h1{
      font-size: 28px;
    }
  
    #sec3 .texto-experiencia{
      width: 70%;
      height: 50%;
        font-size: 14px;
      }
  
  }

  
  @media screen and (max-width: 807px){


    .navegador a{
        font-size: 13px;
        width: 120px;
    } 

    #sec3 .texto-experiencia{
        font-size: 13px;
      }
  }

  @media screen and (max-width: 768px){

    .caja-hover h2{
      font-size: 20px;
    }

     .caja-galeria{
         width: 40%;
         height: 200px;
     }

      .modal .img{
          margin-top: 50px;
      }

      .modal2 .img{
        margin-top: 50px;
    }

    .modal3 .img{
        margin-top: 50px;
    }
      
        .modal4 .img{
        margin-top: 50px;
    }
      
      #sec3 .texto-experiencia{
        font-size: 12px;
      } 

  }

  @media screen and (max-width: 753px){


        #sec3 .texto-experiencia{
          width: 70%;
          height: 47%;
          font-size: 12px;
        }

  }

 /* @media screen and (max-height: 1024px){
     #sec3 .texto-experiencia{
         height: 40%;
     }
 } */

  @media screen and (max-width: 701px){


    #sec3 .texto-experiencia{
        height: 45%;
      font-size: 11px;
    }

}

  @media screen and (max-width: 600px){

    #sec3 h1{
        font-size: 23px;
    }

    #sec3 img{
        width: 500px;
        height: 500px;
    }

    #sec3 .texto-experiencia{
        margin-top: -75px;
        width: 75%;
        height: 36%;
      font-size: 9px;
    }
     
    .caja-galeria{
        width: 45%;
        height: 150px;
    }

    .contenido-modal5{
        width: 500px;
        
      }

    .modal p::after, .modal p::before{
        display: none;
    }

    .modal2 p::after, .modal2 p::before{
        display: none;
    }

    .modal3 p::after, .modal3 p::before{
        display: none;
    }

    .modal3 .img{
        margin-top: 50px;
    }
      
       .modal4 p::after, .modal4 p::before{
        display: none;
    }

    .modal5 p::after, .modal5 p::before{
        display: none;
    }

  }


  @media screen and (max-width: 540px){
    .contenido-modal5{
        width: 450px;
        height: 400px;
    }

    .flex5 .contenido-modal5 .img{
        width: 300px;
        height: 150px;
    }

    .flex5 .modal-body5 p{
        font-size: 10px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 20px;
        height: 20px;
    }

    .modal .img{
        margin-top: 30px;
    }

    .modal2 .img{
        margin-top: 30px;
    }

    .modal3 .img{
        margin-top: 30px;
    }
    
    .modal2 p{
          font-size: 13px;
      }

      .modal3 p{
          font-size: 10px;
      }
      
       .modal4 .img{
        margin-top: 30px;
    }
      
      .modal4 p{
          font-size: 13px;
      }

     .seccion2.texto-experiencia{
         margin-top: -50px;
     } 
  }

  @media screen and (max-width: 512px){
      #sec3 .texto-experiencia{
          width: 80%;
          height: 33%;
          font-size: 8px;
      }
  }

  @media screen and (max-width: 484px){

      #sec3 .texto-experiencia{
      margin-top: 10px;
      }
      
    .caja-galeria{
        width: 50%;
        height: 130px;
    }

     
    .contenido-modal5{
        width: 400px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 15px;
        width: 220px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 8px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }

      .modal p{
          font-size: 13px;
      }

      .modal2 p{
        font-size: 10px;
    }
      
         .modal4 p{
        font-size: 10px;
    }

    .seccion2{
        width: 100%;
        height: 600px;
    }
      
    #sec3 img{
        margin-top: 150px;
        width: 400px;
        height: 400px;
    }

    #sec3 h1{
        margin-top: -10px;
    }

  }

  @media screen and (max-width: 472px){
    .modal .img{
        margin-top: 70px;
    }
    
    .modal2 .img{
        margin-top: 70px;
    }

    .modal3 .img{
        margin-top: 70px;
    }

    .modal p{
        font-size: 10px;
    }  
    
    .modal2 p{
          font-size: 10px;
      }

      .modal-body3{
          margin-top: -10px;
      }

      .modal3 p{
        font-size: 8px;
    }
      
          .modal4 .img{
        margin-top: 70px;
    }
      
       .modal4 p{
          font-size: 10px;
      }

      #sec3 .texto-experiencia{
          font-size: 8px;
      }
  }

  @media screen and (max-width: 444px){

     .caja-hover h2{
         font-size: 17px;
     }

      .modal .img{
          margin-top: 30px;
          width: 60px;
          height: 60px;
      }

      .modal p{
          font-size: 13px;
      }

      .modal2 .img{
        margin-top: 50px;
        width: 60px;
        height: 60px;
    }

    .modal2 p{
        font-size: 11px;
    }

    .modal3 .img{
        width: 60px;
        height: 60px;
    }

    .modal3 p{
        font-size: 9px;
    }
      
        .modal4 .img{
        margin-top: 50px;
        width: 60px;
        height: 60px;
    }

    .modal4 p{
        font-size: 11px;
    }
      
    #sec3 .texto-experiencia{
        height: 32%;
        font-size: 8px;
    }
      
  }

  @media screen and (max-width: 420px){
      #sec3 .texto-experiencia{
          font-size: 7px;
      }
  }

  @media screen and (max-width: 414px){
    .contenido-modal5{
        width: 350px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 15px;
        width: 220px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 8px;
    }

    .flex5 .modal-body5 img{
        margin-top: 10px;
        width: 12px;
        height: 12px;
    }

      .modal .img{
          margin-top: 30px;
      }

      .modal2 .img{
        margin-top: 20px;
    }

    .modal2 .modal-body2 p{
        font-size: 11px;
    }

    .modal3 .img{
        margin-top: 30px;
    }
      
        .modal4 .img{
        margin-top: 30px;
    }

      
       .seccion3 .contenedor-redes a{
        width: 50px;
        height: 50px;
    }
      

      
    #sec3 .texto-experiencia{
        height: 30%;
    }
      
  }

  /* @media screen and (max-height: 736px){
    #sec3 .texto-experiencia{
        height: 35%;
    }
} */



  @media screen and (max-width: 375px){

    .caja-galeria{
        width: 60%;
        height: 110px;
    }

     .contenido-modal5 h2{
         font-size: 18px;
     }

    .contenido-modal5{
        width: 300px;
        height: 280px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 15px;
        width: 190px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        margin-top: -10px;
        font-size: 7px;
    }

    .flex5 .modal-body5 img{
        margin-top: 7px;
        width: 10px;
        height: 10px;
    }

    .modal .img{
        margin-top: 30px;
    }
    
    .modal p{
        font-size: 11px;
    }

    .modal2 .img{
        margin-top: 30px;
    }
    
    .modal2 p{
        font-size: 8px;
    }

    .modal3 .img{
        margin-top: 30px;
    }
    
    .modal3 p{
        font-size: 7px;
    }
      
       .modal4 .img{
        margin-top: 30px;
    }
    
    .modal4 p{
        font-size: 8px;
    }
      
   .contenedor-redes h4{
       font-size:8px;
          
  }
  
     #sec3 img{
         width: 350px;
         height: 350px;
     }

      #sec3 h1{
          font-size: 19px;
      }

      #sec3 .texto-experiencia{
          margin-top: -20px;
          height: 30%;
          font-size: 5px;
      }
      
     
      
  
}

  @media screen and (max-width: 337px){
      .modal2 p{
          font-size: 7px;
      }
      
        .modal4 p{
          font-size: 7px;
      }
    
     #sec3 img{
         width: 300px;
         height: 300px;
     }

      #sec3 .texto-experiencia{
          margin-top: 60px;
          height: 50%;
          font-size: 5px;
      }
        
  }


  @media screen and (max-width: 320px){

    .caja-hover h2{
        font-size: 12px;
    }
      
    .caja-galeria{
        width: 65%;
        height: 90px;
    }

    .contenido-modal5{
        width: 270px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 18px;
        width: 200px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 7px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }
    
    .modal-body {
        margin-top: 30px;
    }
    
    .modal p{
          font-size: 8px;
      }

      .modal-body2 {
        margin-top: 30px;
    }

      .modal2 p{
        font-size: 7px;
    }

    .modal-body3 {
        margin-top: -20px;
    }

      .modal3 p{
        font-size: 6px;
    }
      
        .modal-body4 {
        margin-top: 30px;
    }

      .modal4 p{
        font-size: 7px;
    }
      
 
  }

 

  @media screen and (max-width: 313px){
    .modal3 .img{
        margin-top: 30px;
    }  

    .modal .img{
        margin-top: 30px;
    }  

    .modal2 .img{
        margin-top: 30px;
    }  


    .modal-body{
          margin-top: 40px;
      }
      
      .modal .texto-modal{
         font-size: 18px;
      }

      .modal p{
          font-size: 11px;
      }


    .modal2 p{
        font-size: 9px;
    }

    .modal3-body{
        margin-top: 30px;
    }

    .modal3 p{
        font-size: 7px;
    }
      
       .modal4 .img{
        margin-top: 30px;
    }  
      
       .modal4 p{
        font-size: 9px;
    }
      
  }


    @media screen and (max-width: 280px){
        
        .contenido-modal5{
            width: 250px;
            height: 300px;
        }
    
        .flex5 .contenido-modal5 .img{
            margin-top: 18px;
            width: 200px;
            height: 100px;
        }
    
        .flex5 .modal-body5 p{
            font-size: 7px;
        }
    
        .flex5 .modal-body5 img{
            margin-top: 15px;
            width: 15px;
            height: 15px;
        }

        .modal .img{
            margin-top: 40px;
            width: 60px;
            height: 60px;
        }
       
        .modal .texto-modal{
            font-size: 13px;
         }
    
         .modal2 .img{
            margin-top: 40px;
            width: 60px;
            height: 60px;
        }

        .modal-body2{
            margin-top: 20px;
        }

         .modal2 .texto-modal{
            font-size: 18px;
         }
    
         .modal3 .img{
            margin-top: 30px;
            width: 60px;
            height: 60px;
        }

         .modal3 .texto-modal{
            font-size: 17px;
         }

         .modal-body3{
             margin-top: -20px;
         }
    
        .modal3 p{
            font-size: 7px;
        }
        
        .modal4 .img{
            margin-top: 40px;
            width: 60px;
            height: 60px;
        }

        .modal-body4{
            margin-top: 20px;
        }

         .modal4 .texto-modal{
            font-size: 18px;
         }

        .seccion3 .contenedor-redes a{
            width: 50px;
            height: 50px;
        }

         #sec3 img{
             width: 230px;
             height: 230px;
         }


         #sec3 .texto-experiencia{
             height: 20%;
             font-size: 4px;
         }
    }

    /* @media screen and (max-height: 653px){
        #sec3 .texto-experiencia{
            height: 27%;
        }
    }

    @media screen and (max-height: 640px){
        #sec3 .texto-experiencia{
            height: 35%;
        }
    }

    @media screen and (max-height: 568px){
        #sec3 .texto-experiencia{
            height: 35%;
        }
    } */

  @media screen and (max-width: 250px){

    .contenido-modal5{
        width: 230px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 18px;
        width: 200px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 7px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }
    
    /* .modal3 .img{
        margin-top: -50px;
    } */
     
    .modal .texto-modal{
        font-size: 12px;
     }

     .modal2 .texto-modal{
        font-size: 18px;
     }

     .modal3 .texto-modal{
        font-size: 17px;
     }

    .modal3 p{
        margin-top: 50px;
    }
      
      .modal4 .texto-modal{
        font-size: 17px;
     }
  }
