* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

  @media screen and (max-width: 1244px){
      
      .caja-galeria{
      width: 400px;
      height: 250px;
    }

    .botones{
        margin-top: 370px;
    }

    .botones button{
        font-size: 14px;
        height: 30px;
    }

   .flex5 .contenido-modal5 img{
       width: 350px;
        height: 200px;
    }

    .flex5 .contenido-modal5 p{
        font-size: 16px;
     }

     .flex5 .modal-body5 img{
        position: absolute;
        margin-top: -60px;
        width: 25px;
     }

     .flex6 .contenido-modal6 img{
        width: 350px;
         height: 200px;
     }
 
     .flex6 .contenido-modal6 p{
         font-size: 16px;
      }
 
      .flex6 .modal-body6 img{
         position: absolute;
         margin-top: -60px;
         width: 25px;
      }    
  }

 @media screen and (max-width: 1150px){
    .flex5 .contenido-modal5 p{
        font-size: 14px;
     }

     .flex6 .contenido-modal6 p{
        font-size: 14px;
     }
  }

 @media screen and (max-width: 1168px){
    .seccion2 .texto-experiencia{
        margin-top: -150px;
      }
  }

  @media screen and (max-width: 1040px){

     .flex5 .contenido-modal5 p{
        font-size: 13px;
     }

     .flex6 .contenido-modal6 p{
        font-size: 13px;
     }
  }

   @media screen and (max-width: 967px){
      
    

    .flex5 .contenido-modal5 .img{
        width: 330px;
         height: 180px;
     }

     .flex5 .modal-body5 img{
         margin-left: -10px;
     }

     .flex6 .contenido-modal6 .img{
        width: 330px;
         height: 180px;
     }

     .flex6 .modal-body6 img{
         margin-left: -10px;
     }
  }

  @media screen and (max-width: 866px){
       
    .seccion{
        height: 1250px;
    }


      .proyectos__grid{
          grid-template-columns: 1fr;
      }
  }


  @media screen and (max-width: 768px){
      
       .caja-hover h2{
      font-size: 20px;
    }
      
        .caja-galeria{
         width: 65%;
         height: 250px;
     }

     .botones{
         margin-top: 380px;
     }

  }

  @media screen and (max-width: 600px){

    .seccion{
        height: 1200px;
    }
      
       .caja-galeria{
        height: 200px;
    }

       .contenido-modal5{
        width: 500px;
      }

      .contenido-modal6{
        width: 500px;
      }

      .botones{
        margin-top: 330px;
    }
      
      .modal5 p::after, .modal5 p::before{
        display: none;
    }

    .modal6 p::after, .modal6 p::before{
        display: none;
    }
  }


  @media screen and (max-width: 540px){
      
      .contenido-modal5{
        width: 450px;
        height: 400px;
    }

    .flex5 .contenido-modal5 .img{
        width: 300px;
        height: 150px;
    }

    .flex5 .modal-body5 p{
        font-size: 10px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 20px;
        height: 20px;
    }

    .contenido-modal6{
        width: 450px;
        height: 400px;
    }

    .flex6 .contenido-modal6 .img{
        width: 300px;
        height: 150px;
    }

    .flex6 .modal-body6 p{
        font-size: 10px;
    }

    .flex6 .modal-body6 img{
        margin-top: 15px;
        width: 20px;
        height: 20px;
    }
      
      .seccion2.texto-experiencia{
         margin-top: -50px;
     } 
      
      .botones button{
         width: 40%;
     }
  }

  @media screen and (max-width: 484px){
      
    .caja-galeria{
        height: 180px;
    }
      
          .contenido-modal5{
        width: 400px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 15px;
        width: 220px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 8px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }

    .contenido-modal6{
        width: 400px;
        height: 300px;
    }

    .flex6 .contenido-modal6 .img{
        margin-top: 15px;
        width: 220px;
        height: 100px;
    }

    .flex6 .modal-body6 p{
        font-size: 8px;
    }

    .flex6 .modal-body6 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }
      
         .seccion2{
        width: 100%;
        height: 600px;
    }
      
       .seccion2 .texto-experiencia{
        margin-top: -50px;
    }
      
       .seccion2 .texto-experiencia h4{
        font-size: 14px;
    }

    .seccion2 .texto-experiencia h1{
        padding-top: 20px;
        font-size: 25px;
    }  
  }


  @media screen and (max-width: 462px){
       .seccion2 .texto-experiencia .texto{
       font-size: 10px;
     }
       
      .seccion2 .texto-experiencia h4{
       font-size: 10px;
     }
       
       .seccion3 .contenedor-redes h4{
           margin-left: -5px;
           font-size: 9px;
       }
}


  @media screen and (max-width: 444px){

    .contenedor-imagenes h2{
        font-size: 28px;
    }
      
      .titulo p{
          margin-top: 100px;
      padding-bottom: 20px
      }
      
       .caja-hover h2{
         font-size: 17px;
     }
      

    .seccion2 .texto-experiencia{
        margin-top: 35px;
    }
      
  }

  @media screen and (max-width: 414px){
      
      .texto-modal{
      font-size: 23px;
      }
      
       .contenido-modal5{
        width: 350px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 15px;
        width: 220px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 8px;
    }

    .flex5 .modal-body5 img{
        margin-top: 10px;
        width: 12px;
        height: 12px;
    }
      
    .contenido-modal6{
        width: 350px;
        height: 300px;
    }

    .flex6 .contenido-modal6 .img{
        margin-top: 15px;
        width: 220px;
        height: 100px;
    }

    .flex6 .modal-body6 p{
        font-size: 8px;
    }

    .flex6 .modal-body6 img{
        margin-top: 10px;
        width: 12px;
        height: 12px;
    }    
       .seccion3 .contenedor-redes a{
        width: 50px;
        height: 50px;
    }
      
    .seccion2 .texto-experiencia{
        margin-top: 40px
    }
      
     .seccion2 .texto-experiencia .texto{
        font-size: 12px;
    }  
      
    .portafolio .seccion3{
        width: 100%;
        height: 300px;
      
  }
      
       .seccion3 .contenedor-redes h4{
          padding-top: 100px;
      }
      
      .seccion3 .contenedor-redes a{
          padding-top: -100px;
      }
}    

  @media screen and (max-width: 375px){

     .titulo p{
         margin-top: 100px;
     }

      .seccion{
          height: 1100px;
      }

     .contenedor-proyectos{
         height: 330px;
     }

     .caja-galeria{
         width: 78%;
         height: 160px;
     }
      
      .botones{
          width: 80%;
          margin-top: 290px;
      }
      
       .contenido-modal5 h2{
         font-size: 18px;
     }

    .contenido-modal5{
        width: 300px;
        height: 280px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 15px;
        width: 190px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        margin-top: -10px;
        font-size: 7px;
    }

    .flex5 .modal-body5 img{
        margin-top: 7px;
        width: 10px;
        height: 10px;
    }

    .contenido-modal6 h2{
        font-size: 18px;
    }

   .contenido-modal6{
       width: 300px;
       height: 280px;
   }

   .flex6 .contenido-modal6 .img{
       margin-top: 15px;
       width: 190px;
       height: 100px;
   }

   .flex6 .modal-body6 p{
       margin-top: -10px;
       font-size: 7px;
   }

   .flex6 .modal-body6 img{
       margin-top: 7px;
       width: 10px;
       height: 10px;
   }
      
   .contenedor-redes h4{
       font-size:8px;
          
  }
      
     .seccion2 .texto-experiencia{
          margin-top: 10px;
      }

      .seccion2 .texto-experiencia .texto{
        font-size: 11px;
      }
      
      .seccion2 .texto-experiencia h4{
        font-size: 11px;
      }

      .seccion2 .texto-experiencia h1{
        font-size: 22px;
      }
      
  
}

  @media screen and (max-width: 337px){

      .seccion2 .texto-experiencia .texto{
          margin-top: 50px
      }
      
      .seccion2 .texto-experiencia h4{
          font-size: 10px;
      }
      
    .seccion2 .texto-experiencia .texto{
    font-size: 11px;
}
        
  }

@media screen and (max-width: 330px){

     .seccion2 .texto-experiencia {
       margin-top: 50px;
     }

}

  @media screen and (max-width: 320px){
      
        .caja-hover h2{
        font-size: 12px;
    }
  
       .caja-galeria{
        width: 80%;
    }

    .botones{
        margin-top: 290px;
    }
      
          .contenido-modal5{
        width: 270px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 18px;
        width: 200px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 7px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }

    .contenido-modal6{
        width: 270px;
        height: 300px;
    }

    .flex6 .contenido-modal6 .img{
        margin-top: 18px;
        width: 200px;
        height: 100px;
    }

    .flex6 .modal-body6 p{
        font-size: 7px;
    }

    .flex6 .modal-body6 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }
    
      
   .seccion2 .texto-experiencia {
        margin-top: -10px;
    }
 
  }


    @media screen and (max-width: 280px){
        
           .contenido-modal5{
            width: 250px;
            height: 300px;
        }
    
        .flex5 .contenido-modal5 .img{
            margin-top: 18px;
            width: 200px;
            height: 100px;
        }
    
        .flex5 .modal-body5 p{
            font-size: 7px;
        }
    
        .flex5 .modal-body5 img{
            margin-top: 15px;
            width: 15px;
            height: 15px;
        }

        .flex6 .contenido-modal6 .img{
            margin-top: 18px;
            width: 200px;
            height: 100px;
        }
    
        .flex6 .modal-body6 p{
            font-size: 7px;
        }
    
        .flex6 .modal-body6 img{
            margin-top: 15px;
            width: 15px;
            height: 15px;
        }
        

        .seccion3 .contenedor-redes a{
            width: 50px;
            height: 50px;
        }
        
          .seccion2 .texto-experiencia{
            margin-top: -50px;
        }
    }

  @media screen and (max-width: 250px){
      
       .contenido-modal5{
        width: 230px;
        height: 300px;
    }

    .flex5 .contenido-modal5 .img{
        margin-top: 18px;
        width: 200px;
        height: 100px;
    }

    .flex5 .modal-body5 p{
        font-size: 7px;
    }

    .flex5 .modal-body5 img{
        margin-top: 15px;
        width: 15px;
        height: 15px;
    }
    
  }
