* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

  @media screen and (max-width: 807px){
    .navegador a{
        font-size: 13px;
        width: 120px;
    } 
  }
    @media screen and (max-width: 755px){
        .navegador a{
            font-size: 12px;
            width: 110px;
        } 

        .seccion2 .texto-experiencia{
            margin-top: 100px;
            font-size: 17px;
          }

    }
        @media screen and (max-width: 714px){
            .navegador{
             display: none;
            } 

           .nombre{
               display: inline-block;
               left: 0;
           }

           .seccion2 .texto-experiencia{
            margin-top: 100px;
            font-size: 17px;
          }

         
        }    

        @media screen and (max-width: 770px){

            .seccion2 .texto-experiencia{
                margin-top: 100px;
                font-size: 17px;
              }

        }

        @media screen and (max-width: 943px){

            .seccion2 .texto-experiencia{
                margin-top: 100px;
                font-size: 30px;
              }

        }

        @media screen and (max-width: 1168px){

            .seccion2 .texto-experiencia{
                margin-top: 100px;
                font-size: 20px;
              }

        }

        @media screen and (max-width: 967px){

            .seccion2 .texto-experiencia{
                margin-top: 200px;
                font-size: 17px;
              }

              .seccion2 .texto-experiencia h1{
                font-size: 30px;
              }  

        }

        @media screen and (max-width: 700px){

            .seccion2 .texto-experiencia{
                width: 90%;
                margin-top: 100px;
                font-size: 7px;
              }

        }
